<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Add Student</h1>
    
    <form action="#" method="post" th:object="${studentDTO}">
    <label for="name">Name:</label>
<input type="text" th:field="*{name}" id="name" placeholder="Enter your name" ><br>
           <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
<label for="age">Age:</label>
<input type="text" th:field="*{age}" id="age" placeholder="Enter your age"><br>
<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
<label for="email">Email:</label>
<input type="email" th:field="*{email}" id="email" placeholder="Enter your Email" value="abc@gmail.com"><br>
<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
<label for="password">Password:</label>
<input type="password" th:field="*{password}" id="password" placeholder="Enter your Password"><br>
<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
<input type="submit" value="Add Student">

        </form>
</body>
</html>